html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #1b2330;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1220px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: auto;
    margin-left: auto;
}

/* HEADER */

.fylo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px 48px;
}

.fylo-logo-link,
.nav-item {
    transition: opacity 0.3s ease;
}

.fylo-logo-link:hover,
.nav-item:hover {
    opacity: 0.5;
}

.fylo-logo-img {
    display: block;
    width: 80px;
    height: 24px;
}

.nav-list {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}

.nav-item-link {
    color: #ffffff;
    font-size: 12px;
    line-height: 14px;
    text-decoration: none;
}

/* MAIN */

.fylo-main {
    text-align: center;
}

/* Starting Section */

.starting-section {
    max-width: 734px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 120px;
}

.starting-section-img {
    display: inline-block;
    width: 304px;
    height: 225px;
    margin-bottom: 33px;
}

.starting-section-heading {
    font-size: 24px;
    line-height: 36px;
    margin-top: 0;
    margin-bottom: 15px;
}

.starting-section-text {
    max-width: 589px;
    margin: 0 auto 32px;
}

.starting-section-link {
    display: inline-block;
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    padding: 16px 81px;
    background-image: linear-gradient(152.13deg, #63E1D9 -150.21%, #34A0CD 170.03%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 24px;
    transition: opacity 0.3s ease;
}

.starting-section-link:hover {
    opacity: 0.9;
}

/* SERVICES */

.services {
    max-width: 843px;
    margin-left: auto;
    margin-right: auto;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-left: -147px;
    margin-bottom: 72px;
}

.services-item {
    width: 320px;
    margin-left: 147px;
    margin-bottom: 88px;
}

.services-item::before {
    content: "";
    width: 80px;
    height: 80px;
    display: inline-block;
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 24px;
}

.services-item:nth-child(1)::before {
    background-image: url("../img/computer.svg");
}

.services-item:nth-child(2)::before {
    background-image: url("../img/security.svg");
}

.services-item:nth-child(3)::before {
    background-image: url("../img/real-time.svg");
}

.services-item:nth-child(4)::before {
    background-image: url("../img/file.svg");
}

.services-item-heading {
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
}

.services-item-text {
    margin: 0;
}

/* Productiveness */

.productiveness {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    max-width: 924px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    text-align: left;
}

.productiveness-img {
    display: inline-block;
    margin-bottom: 48px;
}

.productiveness-content {
    max-width: 563px;
}

.productiveness-heading {
    font-size: 18px;
    line-height: 24px;
    margin-top: 0;
    margin-bottom: 16px;
}

.productiveness-text {
    margin-top: 0;
    margin-bottom: 16px;
}

.productiveness-link {
    display: flex;
    align-items: center;
    width: 130px;
    text-decoration: none;
    font-size: 12px;
    line-height: 16px;
    color: #62E0D9;
    padding-bottom: 6px;
    border-bottom: 1px solid #62E0D9;
}

.productiveness-link::after {
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 7px;
    display: inline-block;
    background-image: url("../img/icon-right.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

@media screen and (min-width: 907px) {
    .productiveness-content {
        margin-left: 57px;
    }
}

/* Blockquote */

.blockquote-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: "Open Sans", "Arial", sans-serif;
    margin: 0;
    margin-left: -40px;
    margin-bottom: 120px;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.blockquote-item {
    position: relative;
    z-index: 50;
    min-width: 280px;
    max-width: 360px;
    padding: 24px 20px;
    background: #202A3C;
    box-shadow: 0px 0px 8px rgba(56, 56, 56, 0.0458843);
    border-radius: 3.93258px;
    margin-bottom: 24px;
    margin-left: 40px;
}

.blockquote-item:first-child::before {
    font-family: "Nunito Sans", "Arial", sans-serif;
    content: "“";
    position: absolute;
    z-index: -1;
    left: 0%;
    right: 0%;
    top: calc(50% - 100px/2 - 29.5px);
    color: #62E0D9;
    font-size: 80px;
    line-height: 50px;
}

.blockquote {
    font-size: 10px;
    line-height: 18px;
    margin: 0 0 17px;
}

.founder {
    display: flex;
    align-items: center;
}

.founder-img {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 8px;
}

.founder-information {
    letter-spacing: 0.5px;
}

.founder-name {
    font-size: 10px;
    line-height: 12px;
    margin-top: 0;
    margin-bottom: 4px;
}

.founder-job {
    font-size: 7px;
    line-height: 10px;
    margin: 0;
}